/OblDDA/nbproject/private/
/OblDDA/build/
/DominioObl/nbproject/private/
/PresentacionObl/nbproject/private/
/PresentacionObl/build/
/DominioObl/build/
/DominioObl/dist/
/PresentacionObl/dist/
/AdminWeb/adminWeb/nbproject/private/
/Persistencia/nbproject/private/
/Persistencia/build/
/Persistencia/dist/
/AdminWeb/adminWeb/build/
/mvcWEB/nbproject/private/
/mvcWEB1/nbproject/private/
/WebApp/nbproject/private/
/WebAdmin/nbproject/private/
/MVCweb2/nbproject/private/
/MVCweb2/build/
/WebAdmin/build/