/OblDDA/nbproject/private/
/OblDDA/build/
/DominioObl/nbproject/private/
/PresentacionObl/nbproject/private/
/PresentacionObl/build/
/DominioObl/build/
/DominioObl/dist/
/PresentacionObl/dist/
/AdminWeb/adminWeb/nbproject/private/
/Persistencia/nbproject/private/
/Persistencia/build/
/Persistencia/dist/
/AdminWeb/adminWeb/build/